/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body
  font-family Lato,sans-serif

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong
  color: $accentColor

.home .hero img
  max-width 450px!important
